<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ac01adc5-bd0a-412b-9c20-30314c5912f8/resourceGroups/orkhan-fragrance/providers/Microsoft.Web/sites/orkhan-fragrance</ResourceId>
    <ResourceGroup>orkhan-fragrance</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://orkhan-fragrance.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://orkhan-fragrance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$orkhan-fragrance</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>