<section class="py-20">
    <div class="container mx-auto flex flex-wrap justify-between gap-8 border border-borderGray bg-lightGray p-10">
        <div class="flex">
            <div class="img mr-4">
                <img class="h-12 w-12" src="~/images/service-1.png" alt="logo" />
            </div>
            <div class="info">
                <h3 class="font-bold text-md mb-1">Free Shipping</h3>
                <p class="text-sm text-gray">On all orders over $49.00</p>
            </div>
        </div>
        <div class="flex">
            <div class="img mr-4">
                <img class="h-12 w-12" src="~/images/service-2.png" alt="logo" />
            </div>
            <div class="info">
                <h3 class="font-bold text-md mb-1">Free Shipping</h3>
                <p class="text-sm text-gray">On all orders over $49.00</p>
            </div>
        </div>
        <div class="flex">
            <div class="img mr-4">
                <img class="h-12 w-12" src="~/images/service-3.png" alt="logo" />
            </div>
            <div class="info">
                <h3 class="font-bold text-md mb-1">Free Shipping</h3>
                <p class="text-sm text-gray">On all orders over $49.00</p>
            </div>
        </div>
        <div class="flex">
            <div class="img mr-4">
                <img class="h-12 w-12" src="~/images/service-4.png" alt="logo" />
            </div>
            <div class="info">
                <h3 class="font-bold text-md mb-1">Free Shipping</h3>
                <p class="text-sm text-gray">On all orders over $49.00</p>
            </div>
        </div>
    </div>
</section>